<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" style="padding: 0.75rem;">
					<div style="display: flex; flex-direction: row; justify-content: space-between;">
						<div style="margin-bottom: 0px;">
							<h1 class="mt-4">Inventory</h1>
						</div>
						<div class="form-group mt-4 mb-0" >
							<a href="/addproduct"><button style="margin-right: 10px;" class="btn btn-primary"> + New </button></a>
						</div>
					</div>

					<ol class="breadcrumb" style="margin:-10px 20px; margin-bottom: 20px; padding: 0px; background-color: transparent;">
                            <li class="breadcrumb-item"><a href="/allgroups">View Group</a></li>
                            <li class="breadcrumb-item active">View Items</li>
                    </ol>

					<div class="card mb-4">
						<div class="card-header" style="display: inline-flex; vertical-align: middle; align-items: center;" >
							<div style="width: 50%; vertical-align: middle; ">
								<i class="fas fa-table mr-1"></i>
								Inventory Items
							</div>
						</div>
						<div class="card-body" style="padding: 10px;">
							<div class="table-responsive" style="font-size: .75rem;">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead style="background-color: rgba(0, 0, 0, 0.03);">
										<tr>
											<th style="width: 15%;">Group</th>
											<th style="width: 30%;">Product</th>
											<th style="width: 5%;">Unit</th>
											<th style="width: 5%;">Reorder</th>
											<th style="width: 5%;">Onhand</th>
											<th style="width: 5%;">Incoming</th>
											<th style="width: 5%;">Outgoing</th>
											<th style="width: 15%; text-align: right;">Purchase P</th>
											<th style="width: 15%; text-align: right;">Selling P</th>
										</tr>
									</thead>
									<tbody>
										{{#each products}}
										<tr>
											<td>{{this.itemGroup.itemGroup}}</td>
											<td><a href="/viewproduct/{{{this.itemCode}}}">{{this.prodName}}</a></td>
											<td>{{this.unit}}</td>
											<td>{{this.reorderPoint}}</td>
											<td>{{this.quantity}}</td>
											<td>{{this.incomingQty}}</td>
											<td>{{this.outgoingQty}}</td>
											<td style="text-align: right;">{{this.purchasePrice}}</td>
											<td style="text-align: right;">{{this.sellingPrice}}</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
