<!-- dashboard-->
<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div style="margin-bottom: 20px;">
						<h1 class="mt-4">Dashboard</h1>
					</div>

					<!-- cards -->
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card mb-4">
								<div class="card-body" style="display:flex; flex-direction: column; align-items: center;">
									<span class="salestoday" id="dbPhysicalSales"> </span>
									<span style="font-weight: 700;">PHYSICAL SALES</span>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card mb-4" style="align-items: center;">
								<div class="card-body" style="display:flex; flex-direction: column; align-items: center;">
									<span class="salestoday" id="dbOnlineSales"> </span>
									<span style="font-weight: 700;">ONLINE SALES</span>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card mb-4" style="align-items: center;">
								<div class="card-body" style="display:flex; flex-direction: column; align-items: center;">
									<span class="salestoday" id="dbRevenue"> </span>
									<span style="font-weight: 700;">REVENUE</span>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card mb-4" style="align-items: center;">
								<div class="card-body" style="display:flex; flex-direction: column; align-items: center;">
									<span class="salestoday" id="dbProfit"> </span>
									<span style="font-weight: 700;">PROFIT</span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<!-- sales chart -->
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<i class="fas fa-chart-area mr-1"></i>
									<span style="font-weight: 700;"> Daily Sales </span>
								</div>
								<div class="card-body"><canvas id="dbDailySales" width="100%" height="40"></canvas></div>
							</div>
						</div>

						<!-- revenue & purchases -->
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<i class="fas fa-chart-bar mr-1"></i>
									<span style="font-weight: 700;">Revenue and Purchases</span> 
								</div>
								<div class="card-body"><canvas id="dbRevAndPurch" width="100%" height="40"></canvas></div>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- fast and slow items -->
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<i class="fas fa-table mr-1"></i>
									<span style="font-weight: 700;">Fast and Slow Items</span>
								</div>

								<!-- table -->
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dbFastSlow" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Item</th>
													<th>COGS</th>
													<th>Beg. Inv.</th>
													<th>End. Inv.</th>
													<th>Inv. Turnover</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Item</th>
													<th>COGS</th>
													<th>Beg. Inv.</th>
													<th>End. Inv.</th>
													<th>Inv. Turnover</th>
												</tr>
											</tfoot>
											<tbody>
												{{#each products}}
												{{#if (invTurnover this 2)}}
												<tr>
													<td>{{this.prodName}}</td>
													<td>{{cogs this}}</td>
													<td>{{begInv this}}</td>
													<td>{{this.quantity}}</td>
													<td>{{invTurnover this 2}}</td>
												</tr>
												{{/if}}
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
								<div class="card-footer" style="display: flex; flex-direction: row; justify-content: flex-end;">
									<a href="/inventoryReport">Go to Inventory Report <i class="fas fa-angle-right"></i></a>
								</div>
							</div>
						</div>

						<!-- low stock items -->
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header">
									<i class="fas fa-table mr-1"></i>
									<span style="font-weight: 700; color: #D72323">Low Stock Items</span>
								</div>

								<!-- table -->
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dbLowStock" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Item</th>
													<th>On Hand</th>
													<th>Incoming</th>
													<th>Outgoing</th>
													<th>Reorder Point</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>Item</th>
													<th>On Hand</th>
													<th>Incoming</th>
													<th>Outgoing</th>
													<th>Reorder Point</th>
												</tr>
											</tfoot>
											<tbody>
												{{#each products}}
												{{#if (getProdLowCount this)}}
												<tr>
													<td>{{this.prodName}}</td>
													<td>{{this.quantity}}</td>
													<td>{{this.incomingQty}}</td>
													<td>{{this.outgoingQty}}</td>
													<td>{{this.reorderPoint}}</td>
												</tr>
												{{/if}}
												{{/each}}
											</tbody>
										</table>
									</div>
								</div>
								<div class="card-footer" style="display: flex; flex-direction: row; justify-content: flex-end;">
									<a href="/allproducts">Go to Inventory <i class="fas fa-angle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
