<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid" style="padding: 0.75rem;">
				<h1 class="mt-4" style="padding:0px 20px">Inventory Report</h1>
				<div class="card mb-4" id="print">
					<div class="card-header" style="display: flex; flex-direction: row; justify-content:space-between">
						<div style="display:flex;">
							<div style="margin-top: -10px; margin-right:20px">
								<img id="logomain" src="/assets/img/Logo.png" >
							</div>
							<div style="display: flex; flex-direction: column; margin-top: 25px; ">
								<span style="font-weight: 700; font-size:22px;"> GP Cycling Accessories Parts & Services </span>
								<span> Lot 21 blk10 Levitown Marawoy Lipa City </span>
								<span> Tel # (043) 774-2491 </span>
							</div>
						</div>
						<div style="display: flex; flex-direction: column; margin-top: 25px; margin-right:5px; content-align:right; text-align:right">
							<span style="font-weight: 700; font-size:24px;"> Inventory Report </span>
							<span style="font-weight: 700; font-size:20px;"> For the Month of FEBRUARY 2021 </span>
						</div>
					</div>
					<div class="card-body">
						<div class="card-header" style="display: inline-flex; vertical-align: middle; align-items: center; width:103%; margin:-20px;" >
							<div style="width: 60%; vertical-align: middle; ">
								<i class="fas fa-table mr-1"></i>

								<!-- select month -->
								<label> For the Month of:
									<select id="fsMonth" onChange="window.document.location.href = this.options[this.selectedIndex].value;">
										<option value="/inventoryreport1">Jan</option>
										<option value="/inventoryreport" selected>Feb</option>
										<option value="3" disabled>Mar</option>
										<option value="4" disabled>Apr</option>
										<option value="5" disabled>May</option>
										<option value="6" disabled>Jun</option>
										<option value="7" disabled>Jul</option>
										<option value="8" disabled>Aug</option>
										<option value="9" disabled>Sep</option>
										<option value="10" disabled>Oct</option>
										<option value="11" disabled>Nov</option>
										<option value="12" disabled>Dec</option>
									</select>
								</label>

								<!-- select year -->
								<label>Year: 
									<select id="fsYear">
										<option value="2020" selected>2021</option>
										<option value="2020" disabled>2020</option>
									</select>
								</label> 
							</div>

							<div style="width:40%; justify-content:end; align-content:end; text-align:right;display: flex; justify-content:flex-end">
								<!--div style="margin: 0px 5px;">
									<button type="button" data-toggle="dropdown">Product Group<span class="caret"></span></button>
								</div>
								<input class="form-control" id="myInput" type="text" placeholder="Search..."-->
								<select id="groupnum" style="margin: 0 7px;">
									<option value="-1">ALL</option>
								</select>
								{{!-- <button type="button" onclick="exportTableToCSV('InventoryReport.csv')" style="margin: 0px 5px;"> CSV </button> --}}
								<button type="button" onclick="printDiv('print')" style="margin: 0px 5px;"> PDF </button>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="table-responsive" id="print">
							<table class="table table-bordered" id="report" width="100%" cellspacing="0">
								<thead style="background-color: rgba(0, 0, 0, 0.03);">
									<tr style="font-size:12">
										<th style="width: 20%;">Code</th>
										<th style="width: 25%;">Product</th>
										<th style="width: 10%;">Beginning Inv.</th>
										<th style="width: 5%;">Purchases</th>
										<th style="width: 5%;">Sales</th>
										<th style="width: 5%;">Adjust</th>
										<th style="width: 10%;">Ending Inv.</th>
										<th style="width: 10%;">COGS (₱)</th>
										<th style="width: 10%;">Inv. Turnover</th>
									</tr>
								</thead>
								<tbody>
									{{#each products}}
									<tr id="row" class="{{{getGroupCode this.itemCode}}}">
										<td>{{this.itemCode}}</td>
										<td>{{this.prodName}}</td>
										<td>{{begInv this 2}}</td>
										<td>{{sumPurch this 2}}</td>
										<td>{{sumSales this 2}}</td>
										<td>{{sumAdj this 2}}</td>
										<td>{{endInv this 2}}</td>
										<td style="text-align: right;">{{cogs this 2}}</td>
										<td>{{invTurnover this 2}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
		</div>
	</div>
</div>
