<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
		<main id="print">
			<div class="container-fluid" style="padding: 0.75rem;">
				<h1 class="mt-4" style="padding:0px 20px">Inventory Report</h1>

				<div class="card mb-4">
					<div class="card-header" style="display: inline-flex; vertical-align: middle; align-items: center;" >

						<div style="width: 60%; vertical-align: middle; ">
							<i class="fas fa-table mr-1"></i>

							<!-- select month -->
							<label> For the Month of:
								<select id="fsMonth" onChange="window.document.location.href = this.options[this.selectedIndex].value;">
									<option value="/inventoryreport1" selected>Jan</option>
									<option value="/inventoryreport">Feb</a></option>
									<option value="3" disabled>Mar</option>
									<option value="4" disabled>Apr</option>
									<option value="5" disabled>May</option>
									<option value="6" disabled>Jun</option>
									<option value="7" disabled>Jul</option>
									<option value="8" disabled>Aug</option>
									<option value="9" disabled>Sep</option>
									<option value="10" disabled>Oct</option>
									<option value="11" disabled>Nov</option>
									<option value="12" disabled>Dec</option>
								</select>
							</label>

							<!-- select year -->
							<label>Year: 
								<select id="fsYear">
									<option value="2020" selected>2021</option>
									<option value="2020" disabled>2020</option>
								</select>
							</label> 
						</div>

						<div style="width:40%; justify-content:end; align-content:end; text-align:right;display: flex; justify-content:flex-end">
							<!--div style="margin: 0px 5px;">
								<button type="button" data-toggle="dropdown">Product Group<span class="caret"></span></button>
							</div>
							<input class="form-control" id="myInput" type="text" placeholder="Search..."-->
							<select id="groupnum" style="margin: 0 7px;">
								<option value="-1">ALL</option>
							</select>
							{{!-- <button type="button" onclick="exportTableToCSV('InventoryReport.csv')" style="margin: 0px 5px;"> CSV </button> --}}
							<button type="button" onclick="printDiv('print')" style="margin: 0px 5px;"> PDF </button>
						</div>
					</div>

					<div class="card-body">
						<div class="table-responsive" id="print">
							<table class="table table-bordered" id="report" width="100%" cellspacing="0">
								<thead style="background-color: rgba(0, 0, 0, 0.03);">
									<tr style="font-size:12">
										<th style="width: 20%;">Code</th>
										<th style="width: 25%;">Product</th>
										<th style="width: 10%;">Beginning Inv.</th>
										<th style="width: 5%;">Purchases</th>
										<th style="width: 5%;">Sales</th>
										<th style="width: 5%;">Adjust</th>
										<th style="width: 10%;">Ending Inv.</th>
										<th style="width: 10%;">COGS (₱)</th>
										<th style="width: 10%;">Inv. Turnover</th>
									</tr>
								</thead>
								{{!-- <tfoot>
									<tr>
										<th>Code</th>
										<th>Product</th>
										<th>Beginning Inventory</th>
										<th>Purchases</th>
										<th>Sales</th>
										<th>Adjustment</th>
										<th>Ending Inventory</th>
										<th>COGS</th>
										<th>Inventory Turnover</th>
									</tr>
								</tfoot> --}}
								<tbody>
									{{#each products}}
									<tr id="row" class="{{{getGroupCode this.itemCode}}}">
										<td>{{this.itemCode}}</td>
										<td>{{this.prodName}}</td>
										<td>{{begInv this 1}}</td>
										<td>{{sumPurch this 1}}</td>
										<td>{{sumSales this 1}}</td>
										<td>{{sumAdj this 1}}</td>
										<td>{{endInv this 1}}</td>
										<td style="text-align: right;">{{cogs this 1}}</td>
										<td>{{invTurnover this 1}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
		</div>
	</div>
</div>
