<div class="sb-nav-fixed">
	<div id="layoutSidenav">
		<!-- main -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div style="margin-bottom: 20px;">
						<h1 class="mt-4">New Sales Order</h1>
					</div>

					<form>
						<!-- info -->
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSONum">Sales Order #</label> <span style="color: red"> * </span>
									<span class="form-control" id="inputSONum" style="color: black;"> SO-{{SOnum}} </span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSOName">Customer Name</label> <span style="color: red"> * </span>
									<select class="form-control" id="inputSOName">
										<option value="0" disabled selected> Enter customer name </option>
										{{#each customers}}
											<option value="{{{this._id}}}"> {{this.name}} </option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSODate">Sales Order Date</label> <span style="color: red"> * </span>
									<input class="form-control" id="inputSODate" type="date" placeholder="Enter date" required/>
								</div>
							</div>
						</div>

						<!-- items table -->
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-table mr-1"></i>
								<span style="font-weight: 700;">Items</span> <span style="color: red"> * </span>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="tablethin table-bordered" id="SOItems" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Item <span style="color: red"> * </span> </th>
												<th style="text-align: end;">Quantity <span style="color: red"> * </span> </th>
												<th style="text-align: end;">Unit Price</span> </th>
												<th style="text-align: end;">Discount (%)</th>
												<th style="text-align: end;">Net Price</span> </th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Item <span style="color: red"> * </span> </th>
												<th style="text-align: end;">Quantity <span style="color: red"> * </span> </th>
												<th style="text-align: end;">Unit Price</th>
												<th style="text-align: end;">Discount (%)</th>
												<th style="text-align: end;">Net Price</th>
											</tr>
										</tfoot>
										<tbody>
											<tr>
												<td style="padding-bottom: 0px">
													<div class="form-group">
														<select class="form-control inputSOItem" style="border-width: 0px;padding: 0px;font-size: 15px;">
															<option value="0" disabled selected> Enter item name </option>
															{{#each products}}
																<option value="{{{this._id}}}"> {{this.prodName}} </option>
															{{/each}}
														</select>
													</div>
													<div id="currentQtyDiv" class="small mb-1" style="padding-left: 3px;" >
														<span class="currentQtySpan" style="color: red"></span>
													</div>
												</td>
												<td style="width: 150px;color: black;">
													<div class="form-group" style="color: black;">
														<input class="form-control inputSOQty" type="number" min="1" max="1000" style="width: 150px;border-width: 0px;text-align: end;padding: 4px;font-size: 15px;" placeholder="Enter quantity" /> 
													</div>
												</td>
												<td style="width: 150px;color: black;">
													<div class="form-group" style="color: black;">
														<input class="form-control inputSOUnit" style="width: 150px;border-width: 0px;padding: 4px;font-size: 15px;text-align: end;background-color: #ffffff;" value="0.00" readonly/>
													</div>
												</td>
												<td style="width: 150px;color: black;">
													<div class="form-group" style="color: black;">
														<input class="form-control inputSODiscount" style="width: 150px;border-width: 0px;padding: 4px;font-size: 15px;text-align: end;background-color: #ffffff;" value="0.0" readonly/>
													</div>
												</td>
												<td style="width: 150px;color: black;">
													<div class="form-group" style="color: black;">
														<input class="form-control inputSOTotal" style="width: 150px;border-width: 0px;padding: 4px;font-size: 15px;text-align: end;background-color: #ffffff;" value="0.00" readonly/>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<div>
										<div class="form-group mt-4 mb-0" style="display: flex;flex-direction: row;justify-content: flex-end;">
											<button id="SOaddItem" type="button" style="margin-right: 10px;color: #F50506;background-color: transparent;border-width: 0px;">+ Add another item </button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- other info -->
						<div class="form-row" style="margin-top: -10px">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSOAdj">Price Adjustment</label>
									<input class="form-control" id="inputSOAdj" type="number" placeholder="0.00">
								</div>
							</div>
							<div class="col-md-6" style="margin-top: 0px">
								<div class="form-group" style="display:flex;flex-direction: row;justify-content: flex-end;">
									<label class="small mb-1" for="inputSOSub" style="width: 130px;font-size: 15px;padding-top: 5px;">SUBTOTAL</label>
									<input class="form-control" id="inputSOSub" style="padding-top: 0px;width: 200px;border-width: 0px;background-color: transparent;text-align: end;"type="text" value="0.00" readonly/>
								</div>
								<div class="form-group" style="display:flex;flex-direction: row;justify-content: flex-end;margin-top: -20px">
									<label class="small mb-1" for="inputSOTotalDisc" style="width: 130px;font-size: 15px;padding-top: 5px;">Total Discount</label>
									<input class="form-control" id="inputSOTotalDisc" style="padding-top: 0px;width: 200px;border-width: 0px;background-color: transparent;text-align: end;"type="text" value="0.00" readonly/>
								</div>
								<div class="form-group" style="display:flex;flex-direction: row;justify-content: flex-end;margin-top: -20px">
									<label class="small mb-1" for="inputSOFinalAdj" style="width: 130px;font-size: 15px;padding-top: 5px;">Adjustment</label>
									<input class="form-control" id="inputSOFinalAdj" style="padding-top: 0px;width: 200px;border-width: 0px;background-color: transparent;text-align: end;"type="text" value="0.00" readonly/>
								</div>
								<div class="form-group" style="display:flex;flex-direction: row;justify-content: flex-end;margin-top: -20px">
									<label class="small mb-1" for="inputSONet" style="color: #F50506;font-weight: 700;width: 130px;font-size: 18px;padding-top: 5px;">NET TOTAL</label>
									<input class="form-control" id="inputSONet" style="font-weight: 700;padding-top: 0px;width: 200px;border-width: 0px;background-color: transparent;text-align: end;"type="text" value="0.00" readonly/>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSOTerms">Terms</label> <span style="color: red"> * </span>
									<select class="form-control" id="inputSOTerms" required>
										<option value="Physical"> Physical </option>
										<option value="Bank"> Bank </option>
										<option value="COD"> COD </option>
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSOPayDue">Payment Due Date</label> <span style="color: red"> * </span>
									<input class="form-control" id="inputSOPayDue" type="date" placeholder="Enter date" required/>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSOMode">Mode</label> <span style="color: red"> * </span>
									<select class="form-control" id="inputSOMode" required>
										<option value="Physical"> Physical </option>
										<option value="Pickup"> Pickup </option>
										<option value="Delivery"> Delivery </option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="small mb-1" for="inputSODelDate">Expected Delivery Date</label> <span style="color: red"> * </span>
									<input class="form-control" id="inputSODelDate" type="date" placeholder="Enter date" required/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="small mb-1" for="inputSORemarks">Remarks</label>
							<input class="form-control" id="inputSORemarks" type="text" placeholder="Enter remarks">
						</div>
						<div class="form-group">
							<label class="small mb-1" for="inputSOCons">Conditions</label>
							<input class="form-control" id="inputSOCons" type="text" placeholder="Enter conditions">
						</div>
						<div style="margin-top: 20px;margin-bottom: 20px;">
							<div class="form-group mt-4 mb-0" style="display: flex;flex-direction: row;justify-content: flex-end;">
								<button type="button" id="SOSubmitConfPay" style="margin-right: 10px;width: 200px;background-color: #b31f21;" class="btn btn-primary">Confirm and Pay</button>
								{{#if isSecretary}}
									<button id="SOSubmitConf" type="button" style="margin-right: 10px;" class="btn btn-primary">Confirm</button>
								{{/if}}
								{{#if isSales}}
									<button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/newso'">Cancel</button> 
								{{else}}
									<button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/viewallsopo'">Cancel</button>
								{{/if}}
							</div>
						</div>
					</form>
				</div>
			</main>
		</div>
	</div>
</div>
