<div class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div style="display: flex; flex-direction: row; justify-content:space-between;">
                        <div style="margin-bottom: 15px;">
                            <h1 id="viewSONum" class="mt-4">{{this.s}}</h1>
                        </div>
                        <div style="margin-top:30px; display: flex; flex-direction: row;">
                            <a class="nav-link" style="color: #d32327" id="paySOButton" href="payso.html"> <button class="btn">Pay</button> </a>
                            <a class="nav-link" style="color: #d32327" id="pickupSOButton" href="pickupso.html"> <button class="btn">Pickup</button> </a>
                            <ul class="navbar-nav ml-auto ml-md-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color: #d32327" id="deliverPOButton" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <button class="btn"> Deliver </button> </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="deliverso.html">Delivered All</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="deliverso.html">Delivered Partial </a>
                                    </div>
                                </li>
                            </ul>
                            <a class="nav-link" style="color: #d32327" id="cancelPOButton" href="cancelso.html"> <button class="btn">Cancel</button> </a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div style="margin-top: -10px;">
                                <img href="index.html" id="logomain" src="assets/img/Logo.png" >
                            </div>
                            <div style="display: flex; flex-direction: column; margin-top: 25px;">
                                <span style="font-weight: 700; font-size:22px;"> GP Cycling Accessories Parts & Services </span>
                                <span> Lot 21 blk10 Levitown Marawoy Lipa City </span>
                                <span> Tel # (043) 774-2491 </span>
                            </div>
                            <div style="text-align:end; align-items:flex-end; display: flex; flex-direction: column; margin-top: 5px;">
                                <span style="font-weight: 700; font-size:40px;"> Sales Order </span>
                                <span id="viewSONum" style="font-weight: 700; font-size:25px; margin-top: -10px;"> {{salesorder.orderNum}} </span>
                                <span id="viewSOStatus" class="status-fulfilled"> {{salesorder.status}} </span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Customer</span>
                                        <span style="font-size:16px;" id="viewSOName"> {{salesorder.customer.name}} </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">Sales Order Date </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSODate">{{salesorder.dateOrdered}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Address</span>
                                        <span style="font-size:16px;" id="viewSOAddress"> {{salesorder.customer.street}}, {{salesorder.customer.city}}, {{salesorder.customer.province}} </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">Terms </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSOTerms"> {{salesorder.paymentTerms}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Contact</span>
                                        <span style="font-size:16px;" id="viewSOContact"> {{salesorder.customer.name}} </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">Payment Due </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSOPayDue"> {{salesorder.paymentDue}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Email</span>
                                        <span style="font-size:16px;" id="viewSOEmail"> {{salesorder.customer.email}} </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">Mode </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSOMode"> {{salesorder.deliveryMode}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:flex; justify-content: flex-end;">
                                <span style="width:250px; font-size:16px; font-weight: 700;">Expected Delivery </span>
                                <span style="width: 80px; font-size:16px; text-align: end;" id="viewPODelDate"> {{salesorder.expectedDelivery}} </span>
                            </div>
                            
                            <div class="table-responsive" style="margin-top:30px;">
                                <table class="table table-bordered" id="viewSOItems" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th style="width: 55px;">Item #</th>
                                            <th style="width: 40px; text-align: end;">Quantity</th>
                                            <th style="width: 100px;">Unit</th>
                                            <th style="width: 300px;">Description</th>
                                            <th style="width: 100px; text-align: end;">Discount (%) </th>
                                            <th style="width: 100px; text-align: end;">Net Price (&#8369;)</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr style="text-align: center;">
                                            <th style="width: 55px;">Item #</th>
                                            <th style="width: 40px; text-align: end;">Quantity</th>
                                            <th style="width: 50px;">Unit</th>
                                            <th style="width: 300px;">Description</th>
                                            <th style="width: 100px; text-align: end;">Discount (%) </th>
                                            <th style="width: 100px; text-align: end;">Net Price (&#8369;)</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each salesorder.items}}
                                        <tr>
                                            <td style="text-align: center;">
                                                <span id="viewSOItemNum"> 1 </span>
                                            </td>
                                            <td style="text-align: end;">
                                                <span id="viewSOQty"> {{this.qty}} </span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span id="viewSOUnit"> {{this.product.unit}} </span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span id="viewSOItem"> {{this.product.description}} </span>
                                            </td>
                                            <td style="text-align: end;">
                                                <span id="viewSODisc">{{getDiscountSO this}}%</span>
                                            </td>
                                            <td style="text-align: end;">
                                                <span id="viewSONetPrice"> {{multiplyDisc this.product.sellingPrice this.qty (getDiscountSO this)}} </span>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="form-row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Remarks</span>
                                        <span style="font-size:16px;" id="viewSORemarks"> {{salesorder.remarks}} </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">SUBTOTAL </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSOSub"> P {{subtotalSO salesorder}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row;">
                                        <span style="width:100px; font-size:16px; font-weight: 700;">Conditions</span>
                                        <span style="font-size:16px;" id="viewSOCond"> 300.00 penalty for late payment </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-end;">
                                        <span style="width:250px; font-size:16px; font-weight: 700;">Total Discount </span>
                                        <span style="width: 80px; font-size:16px; text-align: end;" id="viewSOTotalDisc"> {{discountSO salesorder}} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:flex; justify-content: flex-end;">
                                <span style="width:250px; font-size:16px; font-weight: 700;">NET TOTAL </span>
                                <span style="width: 80px; font-size:16px; text-align: end; font-weight: 700;" id="viewSONetTotal"> P {{netotalSO salesorder}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>